:root {
    --brown: #391319;
    --tan: #FAE2CA;
    --orange: #A95421;
    --lighter-orange: #DB773B;


    --main-bg-color: var(--brown);
    --main-text-color: var(--lighter-orange);
    --thing-text-color: var(--tan);

    --view-margin: 2em;
  }

  

 html {
     height: 100vh;
     width: 100vw;
  }

body {
    align-items: center;
    background-color: var(--main-bg-color);
    display: flex;
    font-family: new-spirit,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 3rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-text-color);
    letter-spacing: .05em;
    /* transition: font-size .2s ease-out; */
}

.thing-we-gotta {
    color: var(--thing-text-color);
}

@media only screen and (min-width:425px) {
    
    h1{
    font-size: 3rem;
    }
}

@media only screen and (min-width:614px) {
    
    h1{
    font-size: 4rem;
    }
}

@media only screen and (min-width:768px) {
    
    h1{
    font-size: 5rem;
    }
}

@media only screen and (min-width:960px) {
    
    h1{
    font-size: 8rem;
    margin: 10rem;
    }
}